.SinglePost {
    margin: 0 auto;
    width: 60%;
    padding: 0 30px;
}
.topContent {
    text-align: center;
}

.topContent h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    letter-spacing: -.03em;
    line-height: 1.12;
    color: #373737;
}

.mainContent div {
    width: 100%;
    height: 100%;
}

.mainContent img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 6px 35px 0px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
}

.postText {
    padding: 0 40px;
    margin-top: 50px;
}

.postText p, .postText {
    line-height: 1.58;
    color: rgba(0, 0, 0, 0.84);
    font-style: normal;
    font-weight: 400;
    font-family: sans-serif;
    text-align: justify;
    font-size: 21px;
    letter-spacing: 0.016em;
}