header {
    width: 80%;
    padding: 0 30px;
}
.headerFlex {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

/* RESPONSIVENESS */
@media (max-width: 780px) {
    header  {
        width: 75%;
    }
}