.searchArea {
    display: flex;
    justify-content: space-between;
    background-color: #344EA9;
    padding: 20px;
}

svg {
    color: white;
    font-size: 20px;
}

.search {
    cursor: pointer;
}
.searchTitle {
    color: #fff;
    margin: 0;
}

.PopularTitle {
    padding: 20px;
}

.PopularTitle p{
    color: #BAB5B0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.popular {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px 0;
}

a {
    text-decoration: none;
}

.popular .popularSubTitle {
    text-transform: capitalize;
    color: #FA0E21;
}

.popular .popularSubDate {
    text-transform: capitalize;
    color: #BAB5B0;
    font-size: 12px;
}